@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;

      a{
        
      font-size: 1.5rem;
      font-weight: bold;
      }

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 25px;
        height: 25px;
      }
      i {
        font-size: 25px;
      }

    }
  }
}